data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask files
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Temporary files
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Heroku
*.sqlite3

# Ignore model and tokenizer files if not using sample model and tokenizer
trained_model_LSTM.h5
tokenizer.json

# Ignore data files if generated dynamically
data/

# Logs
logs/
*.log